@charset "UTF-8";


body {
	margin: 0;
}

.header{
	display: flex;
	align-items: center;
	background-color: #cc0000ff;
	font-size: 35px;
	height: 80px;
	width: 100%;
	margin: 0;
}

.logo-image {
	background-image: url(../../img/gekikara.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width:80px;
    height:80px;
}

.header a {
	text-decoration: none;
}

.header a:link, a:visited, a:hover, a:active {
	color: white;
}

.header-button {
	margin-left: 40px;
}

.header-button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 65px;
  color: #333;
  font-size: 13px;
  font-weight: 730;
  background-color: yellow;
  border-radius: 50vh;
}

.header-button a::after {
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.header-button a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

.footer{
	display: flex;
	width: 100%;
	height: 80px;
	background-color: #cc0000ff;
	justify-content: center;
	align-items: center;
	/*  フッター周りの余白を消すために記述*/
}
footer p{
	color: white;
}