@charset "UTF-8";


.errorMessages {
	color: red;
	background-color: #f4cccc;
	border: 1px solid;
	border-color: #fc6464;
	width: 65%;
	margin: 20px auto;
}

.errorMessages > ul {
  list-style-type: none;
}


.wrapper {
	margin:0 auto;
}

.heading {
	text-align: center;
}

.main{
	display: flex;
	justify-content: center;
	width: 65%;
	margin: 20px auto;
	padding: 30px;
	border: 1px solid;
	box-sizing: border-box;
	border-radius: 40px;
}

label {
	font-weight:  bold;
	font-size: 25px;
}

.edit-form {
	width: 70%;
	text-align: center;
}

.text {
	width: 70%;
	height: 130px;
}

.edit-button {
	margin-top: 30px;
	align-items: center;
}

.post {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; */
  padding: 8px 15px;
  width: 120px;
  color: white;
  font-size: 18px;
  font-weight: 730;
  background-color: #058dcaff;
  border-radius: 10px;
}

.back {
  margin: 20px;
  padding: 8px 15px;
  width: 120px;
  color: black;
  font-size: 18px;
  font-weight: 730;
  background-color: #b7b7b7ff;
  border-radius: 10px;
}

/*
.post::after {
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.post::hover {
  text-decoration: none;
  background-color: #bbbbbb;
} */