@charset "UTF-8";

.errorMessages {
	color: red;
	background-color: #f4cccc;
	border: 1px solid;
	border-color: #fc6464;
	width: 65%;
	margin: 20px auto;
}

.errorMessages > ul {
  list-style-type: none;
}

.search{
	text-align: left;
	font-size: 14px;
	margin: 30px auto;
}

.container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.message-container{
	margin: 20px 40px;
}

table{
	border-collapse: collapse;
	border: solid 2px;
	width: 100%;
}

table th{
	border: solid 1px gray;
	border-bottom: solid 1px;
	background-color: #8cfffb;
}
table td{
	border: solid 1px gray;
}
tbody{
	width: 100%;
}

/* thタグ */
.content-head{
	width: 60%;
}
.limit-head{
	width:25%;
	white-space: nowrap;
}
.status-head{
	white-space: nowrap;
}
.button-head{
	width: 93px;
}

/* tdタグ */
.content-data{
	white-space: pre-wrap;
	word-break : break-all;
}
.afterlimit-data{
	background-color: #ff5656;
}
.beforelimit-data{
 	background-color: yellow;
}
.status-data{
}

.button-status{
	text-align: center;
	width: 100%;
	height: 100%;
}

footer{
	margin-top: auto;
	text-align: center;
}