<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/add.css" />
<title>タスク登録</title>
</head>
<body>

	<header th:replace="common::header">
	</header>

	<div class="wrapper">
		<div class="errorMessages" th:if="${errorMessages}">
			<ul th:each="errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<div class="container">
			<div class="heading">
				<h1>タスクの登録</h1>
			</div>

			<div class="main">
				<form class="add-form" th:action="@{/add}" th:method="post" th:object="${formModel}">

					<div class="content-form">
						<p><label>内容</label></p>
						<textarea class="text" name="content"  th:text="${formModel.content}"></textarea>
					</div>

					<div class="limit-form">
						<p><label>タスク期限</label></p>
						<input type="datetime-local" name="limit_date_and_time" th:value="${formModel.limit_date_and_time}"/>
					</div>

					<!-- <input type="hidden" name="status" th:value="${formModel.status}"> -->

					<div class="add-button">
						<input class="post" type="submit" value="登録" >
					</div>
					<div class="back-button">
						<input class="back" type="button" value="戻る" onclick="location.href='http://localhost:8080/'">
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="common::footer">
	</footer>
</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク追加画面</title>
</head>
<body>

	<div >
	<ul th:each="errorMessage : ${errorMessages}">
		<li th:text ="${errorMessage}"></li>
	</ul>
	</div>

	<h3>タスク追加フォーム</h3>

	<form method="post" action="/add" th:object="${formModel}">
		タスク内容記入
		<textarea name="content" cols="30" rows="5" th:value="*{content}"></textarea>

		期限記入
		<label>期限設定</label>
		<input type="datetime-local" name="limit_date_and_time" th:value="*{limit_date_and_time}">

		送信
		<input type="submit" value="登録" />
	</form>

	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html> -->