<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/edit.css" />
<title>タスクの編集</title>
</head>
<body>

	<header th:replace="common::header">
	</header>

	<div class="wrapper">
		<div class="errorMessages" th:if="${errorMessages}">
			<ul th:each="errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<div class="container">
			<div class="heading">
				<h1>タスクの編集</h1>
			</div>

			<div class="main">
				<form class="edit-form" th:action="@{/task/update/{id}(id=${formModel.id})}" th:method="put" th:object="${formModel}">

					<div class="content-form">
						<p><label>内容</label></p>
						<textarea class="text" name="content"  th:text="${formModel.content}"></textarea>
					</div>

					<div class="limit-form">
						<p><label>タスク期限</label></p>
						<input type="datetime-local" name="limit_date_and_time" th:value="${formModel.limit_date_and_time}"/>
					</div>

					<input type="hidden" name="status" th:value="${formModel.status}">

					<div class="edit-button">
						<input class="post" type="submit" value="更新" >
					</div>
					<div class="back-button">
						<input class="back" type="button" value="戻る" onclick="location.href='http://localhost:8080/'">
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="common::footer">
	</footer>
</body>
</html>