<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/top.css" />
		<title>TODOリスト</title>
	</head>
	<body>
		<div class="container">
			<header th:replace="common::header">
			</header>

		<div class="errorMessages" th:if="${errorMessages}">
			<ul th:each="errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<div class="search">
				<form th:action="search" th:method="get">
					日付：<input type="date" name="start" th:value="${start}">～<input type="date" name="end" th:value="${end}"><br>
					内容：<input type="text" name="content" th:value="${content}">
					ステータス：
					<select name="status">
						<option th:selected="${status}==null" th:value=null>－－－－</option>
						<option th:selected="${status}==0" th:value="0">実行中</option>
						<option th:selected="${status}==1" th:value="1">完了</option>
						<option th:selected="${status}==2" th:value="2">ステイ中</option>
					</select>
					<input type="submit" value="絞込" />
				</form>
			</div>
			<div class="message-container">
				<!-- タスクごとに表示 -->
				<table class="main">
					<tr>
						<th class="content-head">タスク内容</th>
						<th class="limit-head">タスク期限</th>
						<th class="status-head">ステータス</th>
						<th class="button-head" colspan="2"></th>
					</tr>
					<th:block th:each="task : ${tasks}">
						<tr>
							<!-- タスク内容 -->
							<td>
								<span class="content-data" th:text="${task.content}"></span>
							</td>
							<!-- タスク期限 -->
							<div th:if="*{currentTime} >= ${task.limit_date}">
								<td  class="afterlimit-data">
									<span th:text="${task.limit_date}"></span>
								</td>
							</div>
							<div th:if="*{currentTime} < ${task.limit_date}">
								<td class="beforelimit-data">
									<span th:text="${task.limit_date}"></span>
								</td>
							</div>
							<!-- ステータスボタン -->
							<td align="center">
								<form th:action="@{/change/{id}(id=${task.id})}" th:method="get" th:object="${formModel}">
									<th:block th:switch="${task.status}">
										<input class="button-status" th:case=0 type="submit" th:value="実行中" />
										<input class="button-status" th:case=1 type="submit" th:value="完了" />
										<input class="button-status" th:case=2 type="submit" th:value="ステイ中" />
									</th:block>
								</form>
							</td>
							<!-- 編集ボタン -->
							<td>
								<form th:action="@{/edit/{id}(id=${task.id})}" th:method="get">
									<input type="submit" value="編集" />
								</form>
							</td>
							<!-- 削除ボタン -->
							<td>
								<form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
									<input type="submit" value="削除" />
								</form>
							</td>
						</tr>
					</th:block>
				</table>
			</div>

			<footer th:replace="common::footer">
			</footer>
		</div>
	</body>
</html>